# __DRIVER_CODE__ imports
import parallel

# __DRIVER_CODE__ variables

cdef unsigned char inVal


# __DRIVER_CODE__ setup

pport = parallel.Parallel(port={{out_signal['args']['addr']}})
sleep_duration = {{config["config"]["tick_len"]}} / (2. * 1e6)

# __DRIVER_CODE__ read

  inVal = <unsigned char>portio.inb(0x{{in_signal['args']['addr']}})
  bufCurPtr[0] = inVal

{%- if async %}

  sleep(sleep_duration)
{%- endif %}
