
#ifndef _CONSTANTS_
#define _CONSTANTS_ 
/************************************
* Basic user configurable constants *
*************************************/
/*
* The offset from which to run the child processes, zero-indexed. Usually 
* the first (CPU 0) is for the parent timer process itself, the second
* is for Redis, the third is the network process (CPU 2), and the last is
* for the logger process (CPU 3). So, this should be a minimum of 4.
* MODULES CURRENTLY RUNNING ON CPUS 1 -> NUM_CORES-1. 
*/
#define CPU_OFFSET 5
/*
* The processor number on which to run the networking process, which is receiving
* packets from the Cerberus system. NETWORK CURRENTLY RUNNING  ON ALL MODULE CORES. 
* (nothing special about network)
*/
#define NETWORK_CPU 2
/*
* The processor number on which to run the data logging process. LOGGER CURRENTLY RUNNING 
* ON ALL MODULE CORES. (nothing special about logger)
*/
#define LOGGER_CPU 3

/* 
 * TODO Make this configurable?
 * Number of tables in SQLite database
 */
#define NUM_TABLES 1

/*
* Name of file for where data for the experiment should be stored.  48 character limit.
* DO NOT add .db to the end.
*/
#define DATALOGGER_FILENAME "experiment"

/*
* Table name for NumPy SharedArray signals table.  Make sure this name complies 
* with SQL syntax, since it is simply spliced into SQL command without any error checking.
*/
#define DATALOGGER_SIGNALS_TABLE_NAME "signals_table"

/*
 * Maximum number of characters for a module name
 */
#define MAX_MODULE_NAME_LEN 64
/***************************************
* Advanced user configurable constants *
***************************************/

/*
* Max size of file pathname for child process execution.  The timer
* parent runs processes containing a max of MAX_PATH_LEN characters,
* including the null terminator.
*/
#define MAX_PATH_LEN 16

/*
* This is the number of milliseconds at the beginning of execution during which the 
* child processes do not run.
* Don't touch.
* Can be thought of as system latency. Using 50 for line since sound card has 20ms 
* buffer period.
*/
#define INIT_BUFFER_TICKS {{init_buffer_ticks}}

/*******************
* Global constants *
********************/

// set by jinja2 templating
// number of non_source processes
#define NUM_NON_SOURCES {{num_non_sources}}
// number of signals that are internal and not generated by sources
#define NUM_SEM_SIGS {{num_sem_sigs}}
// number of internal signals
#define NUM_INTERNAL_SIGS {{num_internal_sigs}}

// number of source signals
#define NUM_SOURCE_SIGS {{num_source_sigs}}

//Number of of microseconds for the timer interrupt (1 ms resolution)
#define USECREQ 1000

//Number of seconds for the timer interrupt
#define SECREQ 0

//Process priority (1 (low) to 99 (high))
//Don't set to 99, or else process cannot be killed
#define PRIORITY 49

//Used to prefault the stack
#define MAX_SAFE_STACK (8*1024*1024)

//Main shared memory pathname 
#define SMEM0_PATHNAME "/smem0"

//page size in bytes
#define PAGESIZE 4096

//Number of 4kB pages in a gB
#define NUM_PAGES_IN_GB 262144

//Number of bytes in a gigabyte
#define BYTES_IN_GB (1 << 30)

// Number of bytes in alsa frame
#define BYTES_PER_FRAME 4 /* 2 bytes/sample, 2 channels */

// number of samples in a millisecond 
#define NUM_SAMPLES_PER_MS (SAMPLING_RATE / 1000)

// macro to round X up to nearest multiple of Y
#define ROUND_UP(X, Y) ((((X) + (Y) - 1) / (Y)) * (Y))

#endif
