from libc.stdio cimport printf, stdout, fflush
from libc.stdlib cimport exit, malloc
from libc.stdint cimport uint8_t, uint16_t, uint32_t, int64_t, int16_t, int32_t
from libc.signal cimport SIGINT, SIGUSR1, SIGALRM, SIGBUS, SIGSEGV, SIGQUIT, SIGUSR2
from libc.string cimport memcpy
from posix.signal cimport kill, sigaction, sigaction_t, sigset_t, sigemptyset, sigaddset, sigfillset
from posix.unistd cimport getppid, pause, close, getpid
from posix.mman cimport shm_open, mmap, munmap, PROT_READ, PROT_WRITE, MAP_SHARED, mlockall, MCL_CURRENT, MCL_FUTURE, munlockall
from posix.types cimport pid_t
from libc.errno cimport errno, EINTR, EPIPE
from posix.fcntl cimport O_RDWR
from libc.string cimport memset
from posix.ioctl cimport ioctl
from posix.time cimport clock_gettime, CLOCK_MONOTONIC_RAW, timespec
from libcpp cimport bool

import sys
import SharedArray as sa
import numpy as np
cimport numpy as np
cimport cython
import portio
{% if in_signal['args']['parser'] -%}
import {{parser}}
{%- endif %}

{% set testing = (config['config'].has_key('testing') and config['config']['testing']) %}
{% set sig_type = in_signal['args']['type'] -%}
{% if sig_type == 'joystick' -%}
import pygame
{%- endif %}

cdef extern from "<sys/socket.h>":
  ctypedef uint32_t socklen_t

{% if sig_type == 'udp' -%}
cdef extern from "<arpa/inet.h>":
  uint16_t htons(uint16_t hostshort)

cdef extern from "<netinet/in.h>":
  enum: IPPROTO_UDP
  ctypedef uint16_t in_port_t
  ctypedef unsigned short sa_family_t
  struct in_addr:
    uint32_t s_addr
  struct sockaddr_in:
    sa_family_t sin_family
    in_port_t sin_port
    in_addr sin_addr
    unsigned char sin_zero[8]

cdef extern from "<sys/socket.h>":
  enum: AF_INET
  enum: SOCK_DGRAM
  struct sockaddr:
    unsigned char sa_len
    unsigned char sa_family  
    char  sa_data[14]
  ssize_t recvfrom(int, void *restrict, size_t, int, sockaddr *restrict, socklen_t *restrict)
  int bind(int, const sockaddr *, socklen_t)
  int socket(int domain, int type, int protocol)

cdef extern from "sourceUtils.h":
  in_addr get_ip (char* interface_name)
{% elif sig_type == 'zmq' -%}
cdef extern from "zmq.h":
  int zmq_close(void *s)
  int zmq_ctx_destroy(void *context)
  void *zmq_ctx_new()
  void *zmq_socket(void *, int type)
  int zmq_bind(void *s, const char *addr)
  int zmq_recv(void *s, void *buf, size_t len, int flags)
{% elif sig_type == 'line' %}
cdef extern from "<alsa/asoundlib.h>":
  struct _snd_pcm:
    pass
  ctypedef _snd_pcm snd_pcm_t
  ctypedef unsigned long snd_pcm_uframes_t
  ctypedef long snd_pcm_sframes_t
  int snd_pcm_prepare(snd_pcm_t* pcm) 
  snd_pcm_sframes_t snd_pcm_readi (snd_pcm_t *pcm, void *buffer, snd_pcm_uframes_t size)  

cdef extern from "lineUtilities.h":
  int pcm_init_cap()
  void pcm_close_cap()
{% endif %}

cdef extern from "semaphore.h":
  enum: __SIZEOF_SEM_T
  cdef union sem_union:
    char __size[__SIZEOF_SEM_T]
    long int __align
  ctypedef sem_union sem_t
  int sem_init(sem_t *, int, unsigned)
  int sem_wait(sem_t *)
  int sem_getvalue(sem_t *restrict, int *restrict)
  int sem_post(sem_t *)

cdef extern from "utilityFunctions.h":
  void init_utils(void (*pHandleExit)(int exitStatus), sigset_t *pExitMask)
  void die(char *errorStr)
  void open_shared_mem(uint8_t **ppmem, const char *pName, int numBytes, int shm_flags, int mmap_flags)
  void set_sighandler(int signum, void *psh, sigset_t *block_mask)
  void make_realtime()

cdef extern from "constants.h":
  enum: NUM_CHANNELSf
  enum: MAX_PATH_LEN
  enum: PAGESIZE
  enum: LATENCY
  enum: BYTES_PER_FRAME
  const char *SMEM0_PATHNAME

#include <stdatomic.h>

cdef pid_t ppid
cdef sigset_t exitMask
cdef char pathName[MAX_PATH_LEN]
cdef socklen_t recv_len
{% if in_signal['args']['parser'] -%}
cdef char buf[{{max_buf_size}}]
{%- endif %}
cdef char *outbuf
cdef int parse_idx
cdef uint32_t out_sig_num_samples
{%- if sig_type == 'zmq' %}
cdef int num_packets = 0
cdef void *dish
cdef void *context
{%- elif sig_type == 'udp' %}
cdef int num_packets = 0
cdef int s
cdef sockaddr_in si_me, si_other
cdef socklen_t slen = sizeof(si_other) 
cdef in_addr interface_ip
{%- elif sig_type == 'line' %}
cdef extern snd_pcm_t *cap_handle
cdef snd_pcm_uframes_t frames
cdef int ret
{%- elif sig_type == 'parport' %}
cdef unsigned char inVal
readInput = False
recv_len = 1
{%- elif sig_type == 'joystick' %}
recv_len = 2
readInput = False
{%- endif %}
cdef int64_t numMS= -1 * LATENCY
parentSetup = True

cdef uint32_t *pSignalMem
cdef uint32_t *pLocalSignalMem
cdef sem_t *pSem
cdef unsigned long packet_num
cdef unsigned long num_dropped = 0

{% if in_signal['args']['parser'] -%}
out_sigs = []
{% else -%}
cdef {{in_signal['schema']['data']['dtype']}}_t *sigStrtPtr
cdef {{in_signal['schema']['data']['dtype']}}_t *sigEndPtr
cdef {{in_signal['schema']['data']['dtype']}}_t *sigCurPtr
cdef uint32_t max_num_samples_in_ms
{%- endif %}

cdef void handle_exit(int exitStatus):
  created_mem = sa.list()
{%- for sig,args in out_signals.iteritems() %}
  if any(['{{sig}}' == x[0] for x in created_mem]):
    sa.delete("shm://{{sig}}")
{%- endfor %}
{%- if sig_type == 'udp' %}
  close(s)
{%- elif sig_type == 'zmq' %}
  zmq_close(dish)
  zmq_ctx_destroy(context)
{%- elif sig_type == 'joystick'%}
  pygame.quit()
{%- elif sig_type == 'line' %}
  pcm_close_cap()
{%- endif %}
{%- if sig_type == 'udp' or sig_type == 'zmq' %}
  printf("Received %d packets over %ld ms. Dropped %lu\n", num_packets, numMS, num_dropped)
{%- endif %}
  exit(exitStatus)

cdef void exit_handler(int signum):
  handle_exit(0)

cdef void bus_handler(int signum):
  printf("Bus Error\n")
  handle_exit(1)

cdef void segv_handler(int signum):
  printf("Seg Fault\n")
  handle_exit(1)

cdef void alrm_handler(int signum):
  global numMS, parentSetup, readInput
  if (parentSetup):
    parentSetup = False
  numMS += 1
{%- if sig_type == 'parport' or sig_type == 'joystick' %}
  global readInput
  readInput = True
{%- endif %}

cdef void usr2_handler(int signum):
  pass

# main
sigfillset(&exitMask)
init_utils(&handle_exit, &exitMask)

ppid = getppid()

set_sighandler(SIGALRM, &alrm_handler, NULL)
set_sighandler(SIGINT, &exit_handler, &exitMask)
set_sighandler(SIGBUS, &bus_handler, &exitMask)
set_sighandler(SIGSEGV, &segv_handler, &exitMask)
set_sighandler(SIGUSR2, &usr2_handler, NULL)

open_shared_mem(<uint8_t **>&pSignalMem, "/smem_sig_offsets", PAGESIZE, O_RDWR,  PROT_READ | PROT_WRITE)
pLocalSignalMem = pSignalMem + 0 # TODO number all internal signals for use by corresponding source/module

open_shared_mem(<uint8_t **>&pSem, SMEM0_PATHNAME, PAGESIZE, O_RDWR, PROT_READ | PROT_WRITE)

{% if sig_type == 'udp' -%}
# create a UDP socket
s = socket(AF_INET, SOCK_DGRAM, IPPROTO_UDP)
if (s == -1):
  die("NETWORK ERROR: socket\n")
# zero out the structure
memset(<char *> &si_me, 0, sizeof(si_me))
si_me.sin_family = AF_INET
si_me.sin_port = htons({{in_signal['args']['port']}})
interface_ip = get_ip("{{in_signal['args']['interface']}}")
si_me.sin_addr.s_addr = interface_ip.s_addr
# bind socket to port
if(bind(s, <sockaddr *>&si_me, sizeof(si_me)) == -1):
  die("bind\n")
{% elif sig_type == 'line' %}
# initiliaze line in 
frames = pcm_init_cap()
recv_len = frames * BYTES_PER_FRAME / 2
{% elif sig_type == 'parport' -%}
# make sure parport is writeable
if (portio.ioperm(0x{{in_signal['args']['addr']}}, 1, 1)):
  die("io permission denied\n")
{% elif sig_type == 'zmq' -%}
context = zmq_ctx_new()
if (not context):
  die("Could not create ZMQ context.\n")
dish = zmq_socket(context, ZMQ_DISH)
if (not dish):
  die("Could not create ZMQ socket.\n")
rc = zmq_bind(dish, "udp://{{in_signal['args']['addr']}}:{{in_signal['args']['port']}}")
assert (rc == 0)
{% elif sig_type == 'joystick' -%}
pygame.init()
pygame.joystick.init()

if pygame.joystick.get_count() < 1:
  die("No joystick detected.\n")

joystick = pygame.joystick.Joystick(0)
joystick.init()
{%- endif %}

created_mem = sa.list()
{% for sig,args in out_signals.iteritems() %}
if any(['{{sig}}' == x[0] for x in created_mem]):
  sa.delete("shm://{{sig}}")
  die("numpy signal already created\n")
else:
{%- if sig_type == 'line' %}
  out_sig_num_samples = {{args['history']}} * frames
  dtype = np.int16
{% else %}
  out_sig_num_samples = {{args['shape']}} * {{args['history']}}
  dtype = np.{{args['dtype']}}
{% endif %}
{% if in_signal['args']['parser'] -%}
  out_sigs.append = [sa.create("shm://{{sig}}", out_sig_num_samples, dtype=np.{{args['dtype']}}), out_sig_num_samples] # TODO, fix dtype stuff
  sa.mlock(out_sig)
{%- else %}
  tmp_sig = sa.create("shm://{{sig}}", out_sig_num_samples, dtype=dtype)
  sigStrtPtr = <{{in_signal['schema']['data']['dtype']}}_t *><long>tmp_sig.__array_interface__['data'][0] # TODO don't hardcode type
  sigCurPtr = sigStrtPtr
  sigEndPtr = sigStrtPtr + out_sig_num_samples
{%- if sig_type == 'line' %}
  max_num_samples_in_ms = recv_len
  pLocalSignalMem[3] = sigEndPtr - sigStrtPtr
  pLocalSignalMem[0] = pLocalSignalMem[3]
{%- else %}
  max_num_samples_in_ms = {{args['shape']}}
{%- endif %}
{%- endif %}
{%- endfor %}

make_realtime()

fflush(stdout)
kill(ppid, SIGUSR2) # TODO these kills should probably be semaphores
pause()
kill(ppid, SIGUSR2)

while(True):
{%- if sig_type == 'udp' %}
  recv_len = recvfrom(s, sigCurPtr, {{max_buf_size}}, 0, <sockaddr *> &si_other, &slen)
  if (recv_len == -1 and errno != EINTR):
    die("NETWORK ERROR: recvfrom()")
  if (recv_len == -1):
    die("Read error.\n")
  tmp = ((<unsigned long *>sigCurPtr)[0]) - packet_num
{%- if testing %}
  if (not parentSetup):
    if (packet_num and (tmp != 1)):
      printf("dropped %lu packets\n", <unsigned long>tmp)
      printf("%lu\n", packet_num)
      printf("%lu\n", (<unsigned long *>sigCurPtr)[0])
      num_dropped += <unsigned long>tmp
    packet_num = (<unsigned long *>sigCurPtr)[0]
    num_packets += 1
{%- endif %}
{% elif sig_type == 'line' %}
  #read from line in
  ret = snd_pcm_readi(cap_handle, <char *>sigCurPtr, frames)
  for i in range(640):
    pass
    # printf("%u\n", sigCurPtr[i])
  if (ret == -EPIPE):
    # EPIPE means overrun
    die("pcm overrun")
    snd_pcm_prepare(cap_handle)
  elif (ret < 0):
    die("pcm read error")
  elif (ret != <int>frames):
    die("pcm short error")
{%- elif sig_type == 'parport' %}
  # recv_len always 1 for parport
  if (readInput):
    readInput = False
    inVal = <unsigned char>portio.inb(0x{{in_signal['args']['addr']}})
    sigCurPtr[0] = inVal
  else:
    pause()
    continue
{%- elif sig_type == 'zmq' %}
  recv_len = zmq_recv(dish, sigCurPtr, {{max_buf_size}}, 0)
  # TODO handle zmq error
  num_packets += 1
{%- elif sig_type == 'joystick' %}
  if (readInput):
    readInput = False
    # x = c + r * math.cos(theta)
    # y = c - r * math.sin(theta)

    pygame.event.pump()
    for axis in range(recv_len):
      sigCurPtr[axis] = int(joystick.get_axis(axis) * 5)

    # sigCurPtr[0] = int(x)
    # sigCurPtr[1] = int(y)

    # theta += 0.0015
  else:
    pause()
    continue


{%- endif %}

  if (parentSetup):
    continue

{%- if in_signal['args']['parser'] %}

  # use user parser
  # int outlen = {{parser}}(buf, recv_len, &outbuf)
  # memcpy
{%- endif %}
  
  sem_wait(pSem)
  sigCurPtr += recv_len
  if ((sigCurPtr + max_num_samples_in_ms) > sigEndPtr):
{%- if sig_type != 'line' %}
    pLocalSignalMem[3] = sigCurPtr - sigStrtPtr
{%- endif %}
    sigCurPtr = sigStrtPtr
{%- if sig_type != 'line' %}
  pLocalSignalMem[2] = sigCurPtr - sigStrtPtr
{%- endif %}
  sem_post(pSem)

