# __DRIVER_CODE__ imports
import SharedArray as sa
import time

# __DRIVER_CODE__ variables


# __DRIVER_CODE__ setup

{% if async %}
sleep_func = getattr(np.random, "{{in_signal['args']['func']}}")
sleep_kwargs = {{in_signal['args']['kwargs']}}
{% endif %}
sig_name = "{{in_signal['args']['sig_name']}}"
sa_sig = sa.attach(sig_name)
sa_index = 0

# __DRIVER_CODE__ read

  inBuf[0] = sa_sig[sa_index]
  sa_index += 1
  if sa_index >= sa_sig.size:
    sa_index = 0
{% if async %}
  sleep_duration = sleep_func(**sleep_kwargs)
  time.sleep(sleep_duration)
{% endif %}
