# __DRIVER_CODE__ imports

# __DRIVER_CODE__ variables

# __DRIVER_CODE__ setup

# __DRIVER_CODE__ write
  if outBufLen != 0:
    printf("console_out: %d\n", outBuf[0])
    fflush(stdout)

# __DRIVER_CODE__ exit_handler
