from libc.stdint cimport uint8_t, int16_t, uint32_t
from posix.signal cimport sigset_t

from runner_utils cimport times_t
from source_drivers cimport source_driver


cdef extern from "<sys/types.h>":
    ctypedef int pthread_t

cdef extern from "semaphore.h" nogil:
  cdef union sem_union:
    pass
  ctypedef sem_union sem_t

cdef extern from "<alsa/asoundlib.h>":
    struct _snd_pcm:
        pass
    ctypedef _snd_pcm snd_pcm_t
    struct _snd_pcm_hw_params:
        pass
    ctypedef _snd_pcm_hw_params snd_pcm_hw_params_t
    struct _snd_pcm_sw_params:
        pass 
    ctypedef _snd_pcm_sw_params snd_pcm_sw_params_t 
    ctypedef unsigned long snd_pcm_uframes_t

cdef class LineSourceDriver(source_driver.SourceDriver):
    cdef snd_pcm_t *cap_handle
    cdef snd_pcm_hw_params_t *cap_hwparams
    cdef snd_pcm_sw_params_t *cap_swparams

    cdef ssize_t linePeriodSizeBytes
    cdef ssize_t linePeriodSizeSamples
    cdef snd_pcm_uframes_t linePeriodSizeFrames
    cdef ssize_t lineBufferSizeBytes
    cdef ssize_t lineBufferSizeSamples
    cdef snd_pcm_uframes_t lineBufferSizeFrames
    cdef pcm_values_t cap_values

    cdef size_t run(
        self, times_t *times, void *inBuf, size_t packetSize, object *out_sigs
    ) except *
    cdef void exit_handler(self, int exitStatus) except *
