from libc.stdint cimport uint8_t

from runner_utils cimport times_t
from source_drivers cimport source_driver

cdef extern from "../../utilityFunctions.h":
    void die(char *errorStr, ...)

cdef class PygameJoystickSourceDriver(source_driver.SourceDriver):
    cdef object pygame_joystick
    cdef int num_buttons
    cdef float sleep_duration

    cdef size_t run(
        self, times_t *times, void *inBuf, size_t packetSize, object out_sigs
    ) except *
    cdef void exit_handler(self, int exitStatus) except *
