cython
numpy --no-binary numpy
llvmlite
scipy --no-binary scipy
cycler
posix_ipc
pyyaml
sharedarray
numba
psutil
markupsafe<=2.0.1
matplotlib
msgpack
jinja2<=2.11.3 # otherwise can't find constants.h (for some reason)
toposort
