# __DRIVER_CODE__ imports
import parallel

# __DRIVER_CODE__ variables

# temporary pointer to pass to output APIs
cdef uint8_t *outBuf
cdef size_t outBufLen = 1
outBuf = <uint8_t*>malloc(outBufLen)

# __DRIVER_CODE__ setup

# make sure parport is writeable
pport = parallel.Parallel(port={{out_signal['args']['addr']}})

# __DRIVER_CODE__ run

  pport.setData(<unsigned char>outBuf[0])

# __DRIVER_CODE__ exit_handler
  free(outBuf)